*.log
.DS_Store
.env
.env.*
.phpactor.json
.phpunit.result.cache

/.idea
/.vscode
/.fleet
/.nova
/.phpunit.cache
/.zed

/node_modules
/public/hot
/public/storage

/storage/framework/*
/storage/logs/*
/storage/*.key
/storage/pail

/vendor

Homestead.json
Homestead.yaml
Thumbs.db